<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Crafting Cooldown Manager Desktop Companion"
           Manufacturer="Thendar"
           Version="$(AppVersion)"
           UpgradeCode="7DF83438-84A8-48D4-833E-F45A05B41928"
           Scope="perUser"
           Language="1033">
    <SummaryInformation Description="Crafting Cooldown Manager Desktop Companion" Manufacturer="Thendar" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of CCM Desktop Companion is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Crafting Cooldown Manager Desktop Companion" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="Crafting Cooldown Manager Desktop Companion" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="CCM Desktop Companion" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>
  </Package>
</Wix>
